.box{
    border: solid 1px black;
    height: 60px;
    width: 180px;
    background-color: blueviolet;

    position: fixed;
    top: 0;
    left: 300px;
}

.box1{

    border: solid 2px black;
    height: 150px;
    width: 150px;
    background-color: burlywood;

    position: sticky;
    top: 0;
}

.box2{

    border: solid 2px black;
    height: 150px;
    width: 350px;
    background-color: burlywood;

    position: sticky;
    top: 0;
    bottom: 0;
}

.container{
    border: solid 1px black;
    height: 200px;
    width: 250px;
    background-color: cornflowerblue;
    
    position: relative;
    z-index: -1;
}

.circle{

    border: solid 1px black;
    height: 100px;
    width: 100px;
    background-color: rgb(213, 215, 219);
    border-radius: 50%;

    position: absolute;
    top: 0;
    right: 0;

    
}


/*  position property
-statis(default)
-fixed
-sticky [act like sticky after reached 0px top&bottom ]
-absolute - chid act as grandfather proprty is mine soo parent 
-relative-parent scold and told to child to stay  in thire home like inside parent [div][!=body]

z-index--for backgrond or font showing content using 1 & -1 [problem]


using universal default margin & padding remove 

positionP convert ->  block into inline soo use width=100%

top,left,right,botoom are dependent on the position property
*/



