#para {
    border-style: dashed; 
    border-width: 5px;
    border-right-color: blueviolet;
    border-top-left-radius: 30px;
    border-left-color: brown;
    border-bottom-style: double;
    border-bottom-color: aquamarine;
    border-left-style: solid;
    border-left-color: cornflowerblue;
    border-bottom-left-radius: 20px;
    border-top-color: brown;
   font-family: monospace;
   font-size: 15px;
   font-weight: bold;
}

h1{
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}

.circle{
    border: 5px solid red;
    border-radius:50% ;
    height:150px;
    width:150px;
    background-color:red;
}

.rectangle{
    border: solid 10px grey;
    height: 150px;
    width: 350px;
    background-color: grey;
}

.square{
    border: solid 10px aqua;
    height: 150px;
    width: 250px;
    background-color: aqua;
}

.ovule{
    border: solid 5px red;
    border-radius : 50%;
    height:250px;
    width:150px;
    background-color:red;
}

.leaf{
    border: solid 10px grey;
    height: 150px;
    width: 250px;
    background-color: aqua;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

.triangle {

    border: solid 5px grey;
     height: 0px;
    width: 0px;
   background-color: aqua;

    border-top: solid 100px white;
     border-bottom: solid 100px red;
      border-right: solid 100px white;
       border-left: solid 100px white;
}

.Diamond{

     border: solid 5px red;
     height: 150px;
     width: 150px;
     background-color: blueviolet;
     transform: rotate(45deg);
     margin: auto;
}

.Color-Circle {
    border: solid 5px red;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom: solid 50px green;
    border-left: solid 50px blue;
    border-right: solid 50px yellow;
    border-top:solid 50px red ;        

    height:150px;
    width:150px;
    background-color:white;

}
    

.Curser-pointer {
    border: solid 5px red;

    border-radius: 100% 0 100% 100%;
    /*-------------tl   tr  br   bl */

     height:150px;
    width:150px;

    background-color:red;
    
}

.squaree{
    border: 2px solid black;
    height: 200px;
    width: 200px;
    position: relative;
}
.circlee{
    border: 3px solid red;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
     top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) ;
}

.squareee {
  width: 200px;
  height: 200px;
      
  border: 5px solid blue;

}

.circleee {
  width: 100%;           /* full width of square */
  height: 100%; 
           /* full height of square */
  background: red;       /* Circle color */
  border-radius: 50%;    /* makes it a perfect circle */
}


.heart {
    border: solid 5px red;
    border-bottom-right-radius: 70%;
    border-bottom-left-radius: 90%;
    height:150px;
    width:150px;
    background-color:red;
}


.container{

    border: solid 2px black;
    height: 400px;
    width: 70vw;
    overflow: auto;
    text-align: justify;

    /* hidden/scroll/auto --------------overflow attributes*/
    /* % overflow webpage    , vw is viewport of responsive webpage view  , % also same */
}

